.logo {
	height: 80px;
	padding-top: 20px;
	padding-left: 20px; 
	float: left;
	text-align: -webkit-center;
	background-size: cover;
}
img {
		width: 130%;
}

#logo_title {
	color: white;
	font-size: 20px;
	
	
	padding-left: 50px;
}

#title {
	padding-top: 25px;
	width: 100%;
	color: yellow;
	text-align: center;
}

body {
	background: #f3f2f3;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
}

#container {
	background: #FFFFFF;
	margin: 30px auto;
	width: 100%;
	height: 2000px;
}

#header {
	background: #163141;
	height: 100px;
	width: 100%;
	
	color: yellow;
}

#navigation {
	
	background: #163141;
	width: 100%;
	height: 20px;
	margin-bottom: 10px;
}

#sidebar {
	background: #50B948;
	width: 220px;
	height: 600px;

}

#head-menu {
	text-align: center;
	color: white;
	margin-top: 10px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px; 
}

#sidebar, #menu {
	list-style: none;
	width: 220px;
	background: #163141;
	float: left;
	padding-left: 0px;
	color: white;
	margin-top: 0px;
}

#menu a {

	color: white;
	text-decoration: none;
}
#menu li a {
	display: block;
	padding: 4px 15px;	
	text-decoration: none;
	position: relative;
	list-style-type: none;
}

#menu li a:hover {
	background: #0089CF;
	color: white;
}

#content {
	background: #d2d0d2;	
	width: 100%;
	height: 100%;
	margin-left: 225px;
	padding-left: 10px;
	padding-top: 10px;
}
#content-header {
	text-align: left;
	padding-left: 100px;
	font-size: 14;
}

#clear {
	clear:both;
}

#footer {
	background: #0089CF;
	height: 180px;
	width: 100%;
}

table {
	border-collapse: collapse;
	width: 	100%px;
	border: 2px solid;
	margin-top: 20px;
	margin-left: 20px;
}

th {
	border: 1px solid;
	text-align: center;
	font-weight: normal;
 	color: black;
  	padding: 5px 8px;
}
td {
	font-size: 10;
	color: black;
	text-align: center;
  	border: 1px solid;
  	padding: 5px 8px;
}
tr:nth-child(2n) {
	background: #e8edff;
}

#col_1 {
	text-align: left;
}

#td_green {
	background: #7CFC00;
	color: black;
}
#td_yellow {
	background: yellow;
	color: blue;
}

#td_red {
	background: red;
	color: white;
	border-color: black;
}
