@media print {
    #sidebar, #combos, .links-container, 
    .hide-col, .days-before,
    .warning-icon, #footer,
    .nav-menu,
    .nav,
    .fst-col,
    .down-buttons-problems,
    .pagination,
    .input-panel{
       display: none; 
    }
    .problems-plan-header{
        width: 100%;
    }
    .plan-header{
        text-align: center;
        margin: 300px;
    }

    .col-notes{
        width: 100%;
        font-size: 0;
    }

    #title{
        color: black;
    }
    .logo{
        width: 20%;
    }

    

    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    @page {
        margin: 2cm;
    }
}